-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: tpm_db
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `absensi`
--

DROP TABLE IF EXISTS `absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `absensi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `karyawan_id` int NOT NULL,
  `tanggal` date NOT NULL,
  `status` enum('HADIR','IZIN','SAKIT','ALPHA','CUTI','SETENGAH_HARI') COLLATE utf8mb4_unicode_ci DEFAULT 'HADIR',
  `jam_masuk` time DEFAULT NULL,
  `jam_keluar` time DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_absensi_karyawan_tanggal` (`karyawan_id`,`tanggal`),
  KEY `ix_absensi_karyawan_id` (`karyawan_id`),
  KEY `ix_absensi_tanggal` (`tanggal`),
  CONSTRAINT `absensi_ibfk_1` FOREIGN KEY (`karyawan_id`) REFERENCES `karyawan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi`
--

LOCK TABLES `absensi` WRITE;
/*!40000 ALTER TABLE `absensi` DISABLE KEYS */;
/*!40000 ALTER TABLE `absensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('20260212_171700');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `armada_jasa_angkut`
--

DROP TABLE IF EXISTS `armada_jasa_angkut`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `armada_jasa_angkut` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nopol` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nopol` (`nopol`),
  KEY `nama` (`nama`),
  KEY `nopol_2` (`nopol`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `armada_jasa_angkut`
--

LOCK TABLES `armada_jasa_angkut` WRITE;
/*!40000 ALTER TABLE `armada_jasa_angkut` DISABLE KEYS */;
INSERT INTO `armada_jasa_angkut` VALUES (1,'Truck','F112Z','Dump Tricl',1,'','2026-02-16 10:20:26','2026-02-16 10:20:26',NULL);
/*!40000 ALTER TABLE `armada_jasa_angkut` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_vehicles`
--

DROP TABLE IF EXISTS `customer_vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_vehicles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int NOT NULL,
  `plat_nomor` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis_unit` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `customer_id` (`customer_id`),
  KEY `ix_customer_vehicles_plat_nomor` (`plat_nomor`),
  CONSTRAINT `customer_vehicles_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_vehicles`
--

LOCK TABLES `customer_vehicles` WRITE;
/*!40000 ALTER TABLE `customer_vehicles` DISABLE KEYS */;
INSERT INTO `customer_vehicles` VALUES (1,1,'F11A','Avanza','','2026-02-03 18:24:55','2026-02-03 18:24:55'),(2,2,'F22Z','Avanza','','2026-02-03 18:25:13','2026-02-03 18:25:13'),(5,5,'A 1111 RR','CANTER 125PS','','2026-02-10 11:37:58','2026-02-10 11:37:58'),(6,4,'F 1111 AA','RINO 130HT','','2026-02-10 11:39:20','2026-02-10 11:39:20'),(7,6,'W 1111 AA','RINO EURO 4','','2026-02-12 09:28:32','2026-02-12 09:28:32'),(8,7,'W 4444 DD','RINO 130HT','','2026-02-12 09:29:04','2026-02-12 09:29:04'),(9,8,'F 1111 SV','RINO 130HT','','2026-02-14 09:17:01','2026-02-14 09:17:01');
/*!40000 ALTER TABLE `customer_vehicles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipe` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alamat` text COLLATE utf8mb4_unicode_ci,
  `kota` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telepon` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `npwp` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_customers_kode` (`kode`),
  KEY `ix_customers_nama` (`nama`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_pembelian_spare_parts`
--

DROP TABLE IF EXISTS `detail_pembelian_spare_parts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_pembelian_spare_parts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pembelian_id` int NOT NULL,
  `spare_part_id` int NOT NULL,
  `qty` int NOT NULL,
  `harga_satuan` decimal(15,2) NOT NULL,
  `subtotal` decimal(15,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `pembelian_id` (`pembelian_id`),
  KEY `spare_part_id` (`spare_part_id`),
  CONSTRAINT `detail_pembelian_spare_parts_ibfk_1` FOREIGN KEY (`pembelian_id`) REFERENCES `pembelian_spare_parts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `detail_pembelian_spare_parts_ibfk_2` FOREIGN KEY (`spare_part_id`) REFERENCES `spare_parts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_pembelian_spare_parts`
--

LOCK TABLES `detail_pembelian_spare_parts` WRITE;
/*!40000 ALTER TABLE `detail_pembelian_spare_parts` DISABLE KEYS */;
INSERT INTO `detail_pembelian_spare_parts` VALUES (43,42,7,10,60000.00,600000.00),(44,43,8,10,45000.00,450000.00),(45,44,9,10,25000.00,250000.00);
/*!40000 ALTER TABLE `detail_pembelian_spare_parts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_transaksi_services`
--

DROP TABLE IF EXISTS `detail_transaksi_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_transaksi_services` (
  `id` int NOT NULL AUTO_INCREMENT,
  `transaksi_id` int NOT NULL,
  `nama_jasa` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `harga` decimal(15,2) NOT NULL,
  `qty` int NOT NULL,
  `subtotal` decimal(15,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `transaksi_id` (`transaksi_id`),
  CONSTRAINT `detail_transaksi_services_ibfk_1` FOREIGN KEY (`transaksi_id`) REFERENCES `transaksi_penjualan_bengkel` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_transaksi_services`
--

LOCK TABLES `detail_transaksi_services` WRITE;
/*!40000 ALTER TABLE `detail_transaksi_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_transaksi_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_transaksi_spare_parts`
--

DROP TABLE IF EXISTS `detail_transaksi_spare_parts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_transaksi_spare_parts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `transaksi_id` int NOT NULL,
  `spare_part_id` int NOT NULL,
  `qty` int NOT NULL,
  `harga_beli` decimal(15,2) NOT NULL,
  `harga_jual` decimal(15,2) NOT NULL,
  `subtotal` decimal(15,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `spare_part_id` (`spare_part_id`),
  KEY `transaksi_id` (`transaksi_id`),
  CONSTRAINT `detail_transaksi_spare_parts_ibfk_1` FOREIGN KEY (`spare_part_id`) REFERENCES `spare_parts` (`id`),
  CONSTRAINT `detail_transaksi_spare_parts_ibfk_2` FOREIGN KEY (`transaksi_id`) REFERENCES `transaksi_penjualan_bengkel` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_transaksi_spare_parts`
--

LOCK TABLES `detail_transaksi_spare_parts` WRITE;
/*!40000 ALTER TABLE `detail_transaksi_spare_parts` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_transaksi_spare_parts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hutang_usaha`
--

DROP TABLE IF EXISTS `hutang_usaha`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hutang_usaha` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_hutang` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal` date NOT NULL,
  `sumber` enum('PEMBELIAN_PART','PEMBELIAN_MOBIL','LAINNYA') COLLATE utf8mb4_unicode_ci NOT NULL,
  `referensi_id` int DEFAULT NULL,
  `nomor_referensi` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supplier_id` int DEFAULT NULL,
  `nama_kreditur` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telepon_kreditur` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_kreditur` text COLLATE utf8mb4_unicode_ci,
  `nominal_hutang` decimal(15,2) NOT NULL,
  `total_dibayar` decimal(15,2) NOT NULL,
  `sisa_hutang` decimal(15,2) NOT NULL,
  `tanggal_jatuh_tempo` date DEFAULT NULL,
  `tanggal_lunas` date DEFAULT NULL,
  `status` enum('BELUM_LUNAS','LUNAS','SEBAGIAN') COLLATE utf8mb4_unicode_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_hutang_usaha_nomor_hutang` (`nomor_hutang`),
  KEY `created_by` (`created_by`),
  KEY `ix_hutang_usaha_supplier_id` (`supplier_id`),
  KEY `ix_hutang_usaha_tanggal` (`tanggal`),
  CONSTRAINT `hutang_usaha_ibfk_1` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`),
  CONSTRAINT `hutang_usaha_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hutang_usaha`
--

LOCK TABLES `hutang_usaha` WRITE;
/*!40000 ALTER TABLE `hutang_usaha` DISABLE KEYS */;
/*!40000 ALTER TABLE `hutang_usaha` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jasa_angkut_biaya_lainnya`
--

DROP TABLE IF EXISTS `jasa_angkut_biaya_lainnya`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jasa_angkut_biaya_lainnya` (
  `id` int NOT NULL AUTO_INCREMENT,
  `muatan_id` int NOT NULL,
  `kategori` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jumlah` decimal(15,2) NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `muatan_id` (`muatan_id`),
  CONSTRAINT `jasa_angkut_biaya_lainnya_ibfk_1` FOREIGN KEY (`muatan_id`) REFERENCES `muatan_jasa_angkut` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jasa_angkut_biaya_lainnya`
--

LOCK TABLES `jasa_angkut_biaya_lainnya` WRITE;
/*!40000 ALTER TABLE `jasa_angkut_biaya_lainnya` DISABLE KEYS */;
/*!40000 ALTER TABLE `jasa_angkut_biaya_lainnya` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jasa_angkut_part_service`
--

DROP TABLE IF EXISTS `jasa_angkut_part_service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jasa_angkut_part_service` (
  `id` int NOT NULL AUTO_INCREMENT,
  `muatan_id` int NOT NULL,
  `tanggal` date NOT NULL,
  `tipe` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `qty` int NOT NULL,
  `harga_satuan` decimal(15,2) NOT NULL,
  `total` decimal(15,2) NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `muatan_id` (`muatan_id`),
  CONSTRAINT `jasa_angkut_part_service_ibfk_1` FOREIGN KEY (`muatan_id`) REFERENCES `muatan_jasa_angkut` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jasa_angkut_part_service`
--

LOCK TABLES `jasa_angkut_part_service` WRITE;
/*!40000 ALTER TABLE `jasa_angkut_part_service` DISABLE KEYS */;
/*!40000 ALTER TABLE `jasa_angkut_part_service` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jasa_servis`
--

DROP TABLE IF EXISTS `jasa_servis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jasa_servis` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kategori` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `harga` decimal(15,2) NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_jasa_servis_nama` (`nama`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jasa_servis`
--

LOCK TABLES `jasa_servis` WRITE;
/*!40000 ALTER TABLE `jasa_servis` DISABLE KEYS */;
/*!40000 ALTER TABLE `jasa_servis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `karyawan`
--

DROP TABLE IF EXISTS `karyawan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `karyawan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nik` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jabatan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alamat` text COLLATE utf8mb4_unicode_ci,
  `telepon` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `tanggal_bergabung` date NOT NULL,
  `tanggal_keluar` date DEFAULT NULL,
  `gaji_pokok` decimal(15,2) NOT NULL,
  `tunjangan` decimal(15,2) NOT NULL,
  `status` enum('AKTIF','TIDAK_AKTIF','RESIGN') COLLATE utf8mb4_unicode_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_karyawan_kode` (`kode`),
  KEY `ix_karyawan_nama` (`nama`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `karyawan`
--

LOCK TABLES `karyawan` WRITE;
/*!40000 ALTER TABLE `karyawan` DISABLE KEYS */;
/*!40000 ALTER TABLE `karyawan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_bank`
--

DROP TABLE IF EXISTS `kas_bank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kas_bank` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_transaksi` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal` date NOT NULL,
  `jenis` enum('CASH','BANK_BCA','BANK_MANDIRI','BANK_BRI','BANK_LAINNYA') COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipe` enum('MASUK','KELUAR') COLLATE utf8mb4_unicode_ci NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `sumber` enum('BENGKEL','JUAL_BELI_MOBIL','JASA_ANGKUT','PEMBELIAN_PART','PEMBELIAN_MOBIL','PENGELUARAN','GAJI','KASBON','PIUTANG','HUTANG','MODAL','PRIVE','LAINNYA') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `referensi_id` int DEFAULT NULL,
  `nomor_referensi` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `saldo_sebelum` decimal(15,2) NOT NULL,
  `saldo_sesudah` decimal(15,2) NOT NULL,
  `keterangan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `metode_bayar` enum('TUNAI','TRANSFER','KREDIT','DEBIT','SPLIT') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_kas_bank_nomor_transaksi` (`nomor_transaksi`),
  KEY `created_by` (`created_by`),
  KEY `ix_kas_bank_jenis` (`jenis`),
  KEY `ix_kas_bank_tanggal` (`tanggal`),
  KEY `ix_kas_bank_tipe` (`tipe`),
  CONSTRAINT `kas_bank_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=168 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_bank`
--

LOCK TABLES `kas_bank` WRITE;
/*!40000 ALTER TABLE `kas_bank` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_bank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kasbon_karyawan`
--

DROP TABLE IF EXISTS `kasbon_karyawan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kasbon_karyawan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_kasbon` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `karyawan_id` int NOT NULL,
  `tanggal` date NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `status` enum('LUNAS','BELUM_LUNAS','CICILAN') COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal_lunas` date DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_kasbon_karyawan_nomor_kasbon` (`nomor_kasbon`),
  KEY `created_by` (`created_by`),
  KEY `ix_kasbon_karyawan_karyawan_id` (`karyawan_id`),
  KEY `ix_kasbon_karyawan_tanggal` (`tanggal`),
  CONSTRAINT `kasbon_karyawan_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `kasbon_karyawan_ibfk_2` FOREIGN KEY (`karyawan_id`) REFERENCES `karyawan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kasbon_karyawan`
--

LOCK TABLES `kasbon_karyawan` WRITE;
/*!40000 ALTER TABLE `kasbon_karyawan` DISABLE KEYS */;
INSERT INTO `kasbon_karyawan` VALUES (18,'KSB2602160002',4,'2026-02-16',200000.00,NULL,'BELUM_LUNAS',NULL,NULL,1,'2026-02-16 11:42:44','2026-02-16 11:42:44'),(19,'KSB2602160003',3,'2026-02-16',100000.00,NULL,'BELUM_LUNAS',NULL,NULL,1,'2026-02-16 11:52:35','2026-02-16 11:52:35');
/*!40000 ALTER TABLE `kasbon_karyawan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mobil`
--

DROP TABLE IF EXISTS `mobil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mobil` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `merek` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tahun` int NOT NULL,
  `warna` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nomor_plat` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nomor_rangka` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nomor_mesin` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `transmisi` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bahan_bakar` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kilometer` int DEFAULT NULL,
  `harga_beli` decimal(15,2) NOT NULL,
  `harga_jual` decimal(15,2) DEFAULT NULL,
  `tipe_kepemilikan` enum('TPM','INVESTOR') COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_investor` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `persentase_investor` decimal(5,2) NOT NULL,
  `status` enum('TERSEDIA','TERJUAL','DALAM_PERBAIKAN','BOOKING') COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal_masuk` date NOT NULL,
  `tanggal_terjual` date DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  `nominal_investor` decimal(15,2) NOT NULL,
  `status_bayar_beli` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'LUNAS',
  `metode_bayar_beli` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'TUNAI',
  `dp_beli` decimal(15,2) DEFAULT '0.00',
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_mobil_kode` (`kode`),
  KEY `created_by` (`created_by`),
  KEY `ix_mobil_merek` (`merek`),
  KEY `ix_mobil_nomor_plat` (`nomor_plat`),
  CONSTRAINT `mobil_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mobil`
--

LOCK TABLES `mobil` WRITE;
/*!40000 ALTER TABLE `mobil` DISABLE KEYS */;
/*!40000 ALTER TABLE `mobil` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mobil_biaya_lainnya`
--

DROP TABLE IF EXISTS `mobil_biaya_lainnya`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mobil_biaya_lainnya` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mobil_id` int NOT NULL,
  `tanggal` date NOT NULL,
  `kategori` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jumlah` decimal(15,2) NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `mobil_id` (`mobil_id`),
  CONSTRAINT `mobil_biaya_lainnya_ibfk_1` FOREIGN KEY (`mobil_id`) REFERENCES `mobil` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mobil_biaya_lainnya`
--

LOCK TABLES `mobil_biaya_lainnya` WRITE;
/*!40000 ALTER TABLE `mobil_biaya_lainnya` DISABLE KEYS */;
/*!40000 ALTER TABLE `mobil_biaya_lainnya` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mobil_media`
--

DROP TABLE IF EXISTS `mobil_media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mobil_media` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mobil_id` int NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_primary` tinyint(1) NOT NULL,
  `urutan` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `mobil_id` (`mobil_id`),
  CONSTRAINT `mobil_media_ibfk_1` FOREIGN KEY (`mobil_id`) REFERENCES `mobil` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mobil_media`
--

LOCK TABLES `mobil_media` WRITE;
/*!40000 ALTER TABLE `mobil_media` DISABLE KEYS */;
/*!40000 ALTER TABLE `mobil_media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mobil_part_service`
--

DROP TABLE IF EXISTS `mobil_part_service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mobil_part_service` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mobil_id` int NOT NULL,
  `tanggal` date NOT NULL,
  `tipe` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `qty` int NOT NULL,
  `harga_satuan` decimal(15,2) NOT NULL,
  `total` decimal(15,2) NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `mobil_id` (`mobil_id`),
  CONSTRAINT `mobil_part_service_ibfk_1` FOREIGN KEY (`mobil_id`) REFERENCES `mobil` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mobil_part_service`
--

LOCK TABLES `mobil_part_service` WRITE;
/*!40000 ALTER TABLE `mobil_part_service` DISABLE KEYS */;
/*!40000 ALTER TABLE `mobil_part_service` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `muatan_jasa_angkut`
--

DROP TABLE IF EXISTS `muatan_jasa_angkut`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `muatan_jasa_angkut` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_transaksi` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal` date NOT NULL,
  `supir_id` int DEFAULT NULL,
  `asal` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tujuan` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis_muatan` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `berat_muatan` decimal(10,2) DEFAULT NULL,
  `pendapatan_kotor` decimal(15,2) NOT NULL,
  `biaya_bbm` decimal(15,2) NOT NULL,
  `biaya_tol` decimal(15,2) NOT NULL,
  `biaya_makan` decimal(15,2) NOT NULL,
  `biaya_parkir` decimal(15,2) NOT NULL,
  `biaya_lainnya` decimal(15,2) NOT NULL,
  `total_biaya` decimal(15,2) NOT NULL,
  `laba_kotor` decimal(15,2) NOT NULL,
  `persentase_tpm` decimal(5,2) NOT NULL,
  `laba_tpm` decimal(15,2) NOT NULL,
  `laba_supir` decimal(15,2) NOT NULL,
  `status_bayar` enum('LUNAS','BELUM_LUNAS','CICILAN') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_bayar` date DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `supir_nama` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nopol` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ritase` int NOT NULL,
  `harga_beli` decimal(15,2) NOT NULL,
  `harga_jual` decimal(15,2) NOT NULL,
  `info_kendaraan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `armada_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_muatan_jasa_angkut_nomor_transaksi` (`nomor_transaksi`),
  KEY `created_by` (`created_by`),
  KEY `supir_id` (`supir_id`),
  KEY `ix_muatan_jasa_angkut_tanggal` (`tanggal`),
  KEY `fk_muatan_armada` (`armada_id`),
  CONSTRAINT `fk_muatan_armada` FOREIGN KEY (`armada_id`) REFERENCES `armada_jasa_angkut` (`id`),
  CONSTRAINT `muatan_jasa_angkut_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `muatan_jasa_angkut_ibfk_2` FOREIGN KEY (`supir_id`) REFERENCES `supir` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `muatan_jasa_angkut`
--

LOCK TABLES `muatan_jasa_angkut` WRITE;
/*!40000 ALTER TABLE `muatan_jasa_angkut` DISABLE KEYS */;
/*!40000 ALTER TABLE `muatan_jasa_angkut` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembayaran_hutang`
--

DROP TABLE IF EXISTS `pembayaran_hutang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pembayaran_hutang` (
  `id` int NOT NULL AUTO_INCREMENT,
  `hutang_id` int NOT NULL,
  `tanggal` date NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `metode_bayar` enum('TUNAI','TRANSFER','KREDIT','DEBIT','SPLIT','INTERNAL','OTHER') COLLATE utf8mb4_unicode_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `ix_pembayaran_hutang_hutang_id` (`hutang_id`),
  KEY `ix_pembayaran_hutang_tanggal` (`tanggal`),
  CONSTRAINT `pembayaran_hutang_ibfk_1` FOREIGN KEY (`hutang_id`) REFERENCES `hutang_usaha` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pembayaran_hutang_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembayaran_hutang`
--

LOCK TABLES `pembayaran_hutang` WRITE;
/*!40000 ALTER TABLE `pembayaran_hutang` DISABLE KEYS */;
INSERT INTO `pembayaran_hutang` VALUES (1,1,'2026-02-16',300000.00,'TUNAI',NULL,1,'2026-02-16 11:39:48','2026-02-16 11:39:48'),(2,1,'2026-02-16',300000.00,'TRANSFER',NULL,1,'2026-02-16 11:39:48','2026-02-16 11:39:48');
/*!40000 ALTER TABLE `pembayaran_hutang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembayaran_piutang`
--

DROP TABLE IF EXISTS `pembayaran_piutang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pembayaran_piutang` (
  `id` int NOT NULL AUTO_INCREMENT,
  `piutang_id` int NOT NULL,
  `tanggal` date NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `metode_bayar` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `ix_pembayaran_piutang_piutang_id` (`piutang_id`),
  KEY `ix_pembayaran_piutang_tanggal` (`tanggal`),
  CONSTRAINT `pembayaran_piutang_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `pembayaran_piutang_ibfk_2` FOREIGN KEY (`piutang_id`) REFERENCES `piutang_usaha` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembayaran_piutang`
--

LOCK TABLES `pembayaran_piutang` WRITE;
/*!40000 ALTER TABLE `pembayaran_piutang` DISABLE KEYS */;
INSERT INTO `pembayaran_piutang` VALUES (15,51,'2026-02-16',250000.00,'TUNAI','Pelunasan Manual dari Jasa Angkut',1,'2026-02-16 10:39:05','2026-02-16 10:39:05');
/*!40000 ALTER TABLE `pembayaran_piutang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembelian_spare_parts`
--

DROP TABLE IF EXISTS `pembelian_spare_parts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pembelian_spare_parts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_transaksi` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal` date NOT NULL,
  `supplier_id` int NOT NULL,
  `nomor_faktur` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `total` decimal(15,2) NOT NULL,
  `diskon` decimal(15,2) NOT NULL,
  `grand_total` decimal(15,2) NOT NULL,
  `status_bayar` enum('LUNAS','BELUM_LUNAS','CICILAN') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metode_bayar` enum('TUNAI','TRANSFER','KREDIT','DEBIT','SPLIT') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_bayar` date DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_pembelian_spare_parts_nomor_transaksi` (`nomor_transaksi`),
  KEY `created_by` (`created_by`),
  KEY `supplier_id` (`supplier_id`),
  KEY `ix_pembelian_spare_parts_tanggal` (`tanggal`),
  CONSTRAINT `pembelian_spare_parts_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `pembelian_spare_parts_ibfk_2` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembelian_spare_parts`
--

LOCK TABLES `pembelian_spare_parts` WRITE;
/*!40000 ALTER TABLE `pembelian_spare_parts` DISABLE KEYS */;
INSERT INTO `pembelian_spare_parts` VALUES (42,'PBL2602160001','2026-02-16',6,'INV11',600000.00,0.00,600000.00,'LUNAS','KREDIT','2026-02-16','',1,'2026-02-16 11:16:28','2026-02-16 11:39:48'),(43,'PBL2602160002','2026-02-16',5,'INV22',450000.00,0.00,450000.00,'BELUM_LUNAS','KREDIT',NULL,'',1,'2026-02-16 11:17:37','2026-02-16 11:17:37'),(44,'PBL2602160003','2026-02-16',3,'INV111',250000.00,0.00,250000.00,'BELUM_LUNAS','KREDIT',NULL,'',1,'2026-02-16 11:22:27','2026-02-16 11:22:27');
/*!40000 ALTER TABLE `pembelian_spare_parts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengeluaran_bengkel`
--

DROP TABLE IF EXISTS `pengeluaran_bengkel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengeluaran_bengkel` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_transaksi` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal` date NOT NULL,
  `kategori` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'biaya_operasional',
  `deskripsi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jumlah` decimal(15,2) NOT NULL,
  `metode_bayar` enum('tunai','transfer','kredit','debit','split') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_pengeluaran_bengkel_nomor_transaksi` (`nomor_transaksi`),
  KEY `created_by` (`created_by`),
  KEY `ix_pengeluaran_bengkel_tanggal` (`tanggal`),
  CONSTRAINT `pengeluaran_bengkel_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengeluaran_bengkel`
--

LOCK TABLES `pengeluaran_bengkel` WRITE;
/*!40000 ALTER TABLE `pengeluaran_bengkel` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengeluaran_bengkel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `piutang_usaha`
--

DROP TABLE IF EXISTS `piutang_usaha`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `piutang_usaha` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_piutang` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal` date NOT NULL,
  `sumber` enum('BENGKEL','JUAL_BELI_MOBIL','JASA_ANGKUT','KASBON_KARYAWAN','LAINNYA') COLLATE utf8mb4_unicode_ci NOT NULL,
  `referensi_id` int DEFAULT NULL,
  `nomor_referensi` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `customer_id` int DEFAULT NULL,
  `nama_debitur` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telepon_debitur` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_debitur` text COLLATE utf8mb4_unicode_ci,
  `nominal_piutang` decimal(15,2) NOT NULL,
  `total_dibayar` decimal(15,2) NOT NULL,
  `sisa_piutang` decimal(15,2) NOT NULL,
  `tanggal_jatuh_tempo` date DEFAULT NULL,
  `tanggal_lunas` date DEFAULT NULL,
  `status` enum('BELUM_LUNAS','LUNAS','SEBAGIAN') COLLATE utf8mb4_unicode_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_piutang_usaha_nomor_piutang` (`nomor_piutang`),
  KEY `created_by` (`created_by`),
  KEY `ix_piutang_usaha_customer_id` (`customer_id`),
  KEY `ix_piutang_usaha_tanggal` (`tanggal`),
  CONSTRAINT `piutang_usaha_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `piutang_usaha_ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `piutang_usaha`
--

LOCK TABLES `piutang_usaha` WRITE;
/*!40000 ALTER TABLE `piutang_usaha` DISABLE KEYS */;
/*!40000 ALTER TABLE `piutang_usaha` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `slip_gaji`
--

DROP TABLE IF EXISTS `slip_gaji`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `slip_gaji` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_slip` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `karyawan_id` int NOT NULL,
  `periode_tahun` int NOT NULL,
  `jumlah_hadir` int NOT NULL,
  `gaji_pokok` decimal(15,2) NOT NULL,
  `potongan_kasbon` decimal(15,2) NOT NULL,
  `gaji_bersih` decimal(15,2) NOT NULL,
  `status` enum('LUNAS','BELUM_LUNAS','CICILAN') COLLATE utf8mb4_unicode_ci NOT NULL,
  `metode_bayar` enum('TUNAI','TRANSFER','KREDIT','DEBIT') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_bayar` date DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `periode_minggu` int NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_akhir` date NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_slip_gaji_nomor_slip` (`nomor_slip`),
  UNIQUE KEY `uq_slip_gaji_karyawan_periode` (`karyawan_id`,`periode_minggu`,`periode_tahun`),
  KEY `created_by` (`created_by`),
  KEY `ix_slip_gaji_karyawan_id` (`karyawan_id`),
  CONSTRAINT `slip_gaji_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `slip_gaji_ibfk_2` FOREIGN KEY (`karyawan_id`) REFERENCES `karyawan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `slip_gaji`
--

LOCK TABLES `slip_gaji` WRITE;
/*!40000 ALTER TABLE `slip_gaji` DISABLE KEYS */;
/*!40000 ALTER TABLE `slip_gaji` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spare_parts`
--

DROP TABLE IF EXISTS `spare_parts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `spare_parts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kategori` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `merek` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `satuan` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stok` int NOT NULL,
  `stok_minimum` int NOT NULL,
  `harga_beli` decimal(15,2) NOT NULL,
  `harga_jual` decimal(15,2) NOT NULL,
  `lokasi_rak` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_spare_parts_kode` (`kode`),
  KEY `ix_spare_parts_nama` (`nama`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spare_parts`
--

LOCK TABLES `spare_parts` WRITE;
/*!40000 ALTER TABLE `spare_parts` DISABLE KEYS */;
/*!40000 ALTER TABLE `spare_parts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supir`
--

DROP TABLE IF EXISTS `supir`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supir` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nik` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat` text COLLATE utf8mb4_unicode_ci,
  `telepon` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nomor_sim` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenis_sim` varchar(5) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_bergabung` date NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  `info_kendaraan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nopol_kendaraan` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `armada_default_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_supir_kode` (`kode`),
  KEY `ix_supir_nama` (`nama`),
  KEY `fk_supir_armada` (`armada_default_id`),
  CONSTRAINT `fk_supir_armada` FOREIGN KEY (`armada_default_id`) REFERENCES `armada_jasa_angkut` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supir`
--

LOCK TABLES `supir` WRITE;
/*!40000 ALTER TABLE `supir` DISABLE KEYS */;
INSERT INTO `supir` VALUES (1,'SPR26020001','M usa','-','Cianjur','-','-','B1','2026-02-09',1,'','2026-02-09 13:00:24','2026-02-09 13:00:24',NULL,NULL,NULL,NULL),(2,'SPR26020002','M DENDI','-','-','-','-','B1','2026-02-09',1,'','2026-02-09 15:54:37','2026-02-16 10:08:29',NULL,'Truk','F111Z',NULL);
/*!40000 ALTER TABLE `supir` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suppliers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alamat` text COLLATE utf8mb4_unicode_ci,
  `kota` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telepon` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contact_person` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `npwp` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  `bank` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rekening` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_suppliers_kode` (`kode`),
  KEY `ix_suppliers_nama` (`nama`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi_penjualan_bengkel`
--

DROP TABLE IF EXISTS `transaksi_penjualan_bengkel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaksi_penjualan_bengkel` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_transaksi` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal` date NOT NULL,
  `customer_id` int DEFAULT NULL,
  `nama_customer` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nomor_plat` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenis_kendaraan` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `total_parts` decimal(15,2) NOT NULL,
  `total_jasa` decimal(15,2) NOT NULL,
  `subtotal` decimal(15,2) NOT NULL,
  `diskon` decimal(15,2) NOT NULL,
  `grand_total` decimal(15,2) NOT NULL,
  `hpp_parts` decimal(15,2) NOT NULL,
  `laba_kotor` decimal(15,2) NOT NULL,
  `status_bayar` enum('LUNAS','BELUM_LUNAS','CICILAN') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metode_bayar` enum('TUNAI','TRANSFER','KREDIT','DEBIT','SPLIT','INTERNAL') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jumlah_bayar` decimal(15,2) NOT NULL,
  `kembalian` decimal(15,2) NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `status_pengerjaan` enum('ANTRE','PROSES','SELESAI','BATAL') COLLATE utf8mb4_unicode_ci NOT NULL,
  `kategori` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `muatan_id` int DEFAULT NULL,
  `mobil_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_transaksi_penjualan_bengkel_nomor_transaksi` (`nomor_transaksi`),
  KEY `created_by` (`created_by`),
  KEY `customer_id` (`customer_id`),
  KEY `ix_transaksi_penjualan_bengkel_tanggal` (`tanggal`),
  KEY `ix_transaksi_penjualan_bengkel_status_pengerjaan` (`status_pengerjaan`),
  KEY `fk_bengkel_muatan` (`muatan_id`),
  KEY `fk_bengkel_mobil` (`mobil_id`),
  CONSTRAINT `fk_bengkel_mobil` FOREIGN KEY (`mobil_id`) REFERENCES `mobil` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_bengkel_muatan` FOREIGN KEY (`muatan_id`) REFERENCES `muatan_jasa_angkut` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transaksi_penjualan_bengkel_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `transaksi_penjualan_bengkel_ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi_penjualan_bengkel`
--

LOCK TABLES `transaksi_penjualan_bengkel` WRITE;
/*!40000 ALTER TABLE `transaksi_penjualan_bengkel` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksi_penjualan_bengkel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi_penjualan_mobil`
--

DROP TABLE IF EXISTS `transaksi_penjualan_mobil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaksi_penjualan_mobil` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_transaksi` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal` date NOT NULL,
  `mobil_id` int NOT NULL,
  `customer_id` int DEFAULT NULL,
  `nama_pembeli` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telepon_pembeli` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_pembeli` text COLLATE utf8mb4_unicode_ci,
  `harga_jual` decimal(15,2) NOT NULL,
  `total_modal` decimal(15,2) NOT NULL,
  `laba_kotor` decimal(15,2) NOT NULL,
  `tipe_kepemilikan` enum('TPM','INVESTOR') COLLATE utf8mb4_unicode_ci NOT NULL,
  `persentase_investor` decimal(5,2) NOT NULL,
  `laba_investor` decimal(15,2) NOT NULL,
  `laba_tpm` decimal(15,2) NOT NULL,
  `status_bayar` enum('LUNAS','BELUM_LUNAS','CICILAN') COLLATE utf8mb4_unicode_ci NOT NULL,
  `metode_bayar` enum('tunai','transfer','kredit','debit','split') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dp` decimal(15,2) NOT NULL,
  `sisa_bayar` decimal(15,2) NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mobil_id` (`mobil_id`),
  UNIQUE KEY `ix_transaksi_penjualan_mobil_nomor_transaksi` (`nomor_transaksi`),
  KEY `created_by` (`created_by`),
  KEY `customer_id` (`customer_id`),
  KEY `ix_transaksi_penjualan_mobil_tanggal` (`tanggal`),
  CONSTRAINT `transaksi_penjualan_mobil_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `transaksi_penjualan_mobil_ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`),
  CONSTRAINT `transaksi_penjualan_mobil_ibfk_3` FOREIGN KEY (`mobil_id`) REFERENCES `mobil` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi_penjualan_mobil`
--

LOCK TABLES `transaksi_penjualan_mobil` WRITE;
/*!40000 ALTER TABLE `transaksi_penjualan_mobil` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksi_penjualan_mobil` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `hashed_password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('ADMIN','MANAGER','STAFF','VIEWER') COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `last_login` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `profile_picture` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_users_email` (`email`),
  UNIQUE KEY `ix_users_username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','admin@tpm.com','$2b$12$WZgNC7UyAGSC4Wp9gaYq4u1hTqCZqcppHthiMu6QCQZ/9OZUo0c5i','Administrator TPM','ADMIN',1,'2026-02-16 04:24:22','2026-01-31 09:01:24','2026-02-16 11:24:22',NULL),(2,'manager','manager@tpm.com','$2b$12$oBl/wROS29lra2q3gU5uDOoZe0APw2KmIm40Vjxe4Fje4b67aKZ3G','Manager Toko','MANAGER',1,NULL,'2026-01-31 09:01:24','2026-01-31 09:01:24',NULL),(3,'staff','staff@tpm.com','$2b$12$hx.oRma3j./mKHHKzpj57uwNlDR.mmPT1wSkadJegAMsxh2yXj61q','Staff Operasional','STAFF',1,NULL,'2026-01-31 09:01:24','2026-01-31 09:01:24',NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-16 20:45:57
